<%- include ('./partials/head') %>

<section id="aside"> 
    <section id="aside-wrapper">
        <article>
            <h3>(6)Internal Works<br> ©2020 c/o BASIC®</h3>
            <h3>A collection of internal project and initiatives under <br> the BASIC® brand.</h3>
            <button class="close-button" onclick="history.back()"><img id="close-img" src="/assets/img/close.svg" alt="menu"></button>
        </article>

        <section class="aside-scroll">
            <% asidedata.forEach(asideItem=> { %>
                <div class="vertical"><h6><%=asideItem.number%></h6></div>
                <div class="aside__item">
                    <img src="<%=asideItem.image%>">
                    <h3><%=asideItem.theme%></h3>
                    <h4><%=asideItem.editor%></h4>
                    <p><%=asideItem.description%></p>
                    <a class="rounded rlink-rosa" href="#">VISIT THE SITE</a>
                </div>
            <%})%>
        </section>
    </section>
</section>

