<%- include('./partials/head') %>


<section class="light">
    <nav class="light">
        <a id="logo-black" href="/"></a>
        <%- include('./partials/nav') %>
        <a href="./aside" class="points"></a>
        <a href="./hamMenu" class="hidden">MENU</a>
    </nav>

    <main>
        <section id="news-hero">
            <h2 class="title-h1">NEWS</h2>
            <h2 class="title-h1">●</h2>
        </section>
        <section id="news__items">
        
            <% newsdata.forEach(newsItem=> { %>
                <article>
                    <img src="<%=newsItem.image%>">
                    <div>
                        <p><%=newsItem.name%></p>
                        <h6><%=newsItem.date%></h6>
                    </div>
                    <img class="arrow" src="/assets/img/arrow-black.svg" alt="">
                </article>
            <%})%>
        </section>
    </main>
</section>

<footer class="dark">
    <%- include('./partials/footer')  %>
</footer>
